panel {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

panel.login {
  background-image: url('/images/high-school.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

panel.error{
  background-color: gainsboro;
  text-align: center;
  padding-top: 25vh;
  color: black;
  text-transform: capitalize;;
}

.loginPanel{
  background-color: white;
  padding: 40px !important;
}
