
.closeButton{
  border-radius: 50% !important;
    background-color: white !important;
    color: black !important;
    margin-left: 5px !important;
    padding: 2px !important;
}

.addButton{
  border-radius: 50% !important;
    background-color: white !important;
    color: black !important;
    margin-left: 5px !important;
    padding: 2px !important;
}

.closeButton:hover{
  background-color: red !important;
  color: white !important;
}

.center{
  text-align: center;
}

panel {
  display: block;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}

panel.login {
  background-image: url('/images/high-school.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

panel.error{
  background-color: gainsboro;
  text-align: center;
  padding-top: 25vh;
  color: black;
  text-transform: capitalize;;
}

@media (max-width: 600px) {
  panel.error{
  padding-top: 10vh;
  }
}

.loginPanel{
  background-color: white;
  padding: 40px !important;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar.oneQuarter .CircularProgressbar-path {
  stroke: #d9534f;
}

.CircularProgressbar.oneQuarter .CircularProgressbar-text {
  fill: #d9534f;
}

.CircularProgressbar.twoQuarter .CircularProgressbar-path {
  stroke: #f0ad4e;
}

.CircularProgressbar.twoQuarter .CircularProgressbar-text {
  fill: #f0ad4e;
}

.CircularProgressbar.threeQuarter .CircularProgressbar-path {
  stroke: #5bc0de;
}

.CircularProgressbar.threeQuarter .CircularProgressbar-text {
  fill: #5bc0de;
}

.CircularProgressbar.fourQuarter .CircularProgressbar-path {
  stroke: #5cb85c;
}

.CircularProgressbar.fourQuarter .CircularProgressbar-text {
  fill: #5cb85c;
}
